<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Posty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4786F8051C7060C700CABA8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4786F8211C7060C900CABA8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4786F82C1C7060C900CABA8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
